/* asap-regular - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/asap-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/asap-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body,
footer {
  font-family: "Asap", sans-serif;
  background-color: #9CAF88;
}

.flowers {
  background: url(./images/splash.jpeg) center;
  background-attachment: fixed;
  height: calc(100vh - 56px); /*100% of vertical height minus 56px for the height of navbar*/
}

.clouds {
  background: url(./images/clouds.jpg) center fixed;
  background-size: cover;
}

.field {
  background: url(./images/field.jpg) center fixed;
  background-size: cover;
}